<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HBuilder.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>20501</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>96C241B68CE7691DB8DBAFBC45D7638E5B5BB2CF</string>
				<key>dateExpires</key>
				<string>2023/6/29</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F5YCNPNLL9.com.mtkj.bblg</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F5YCNPNLL9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HBuilder.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75974079-3883-48e6-b672-9293e2725031</string>
				<key>dateExpires</key>
				<string>2023/6/29</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mtkj.bblg</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F5YCNPNLL9</string>
				<key>name</key>
				<string>tong ming</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
